* {
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-family: Arial,sans-serif;
}
a{
    text-decoration:none;
    color:dodgerblue;
}
a:hover {
    color:red;
}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
div{
    background-color:white;
}
.content{
    margin:0 200px 0 275px;
    background-color:white;
}

.header {
    float: left;
    width: 100%;
    font-size: 14px;
}
.menuHeader{
    padding: 7px 7px 12px 7px;
    display: inline-block;
    width: 100%;
}
.menuHeader .verticalLine{
    float: left;
    height: 30px;
    margin-top: 10px;
    width: 1px;
    background-color: lightgray;
}
.menuHeader p.gismeteo {
    font-weight: 700;
    font-size:35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select:none;
    float:left;
    margin-right:10px;
    text-align: left;
    vertical-align: middle;
}
.menu {
    padding-top:15px;
    float:left;
    min-width: 200px;
}
.menu ul {
        list-style-type: none;
}
.menu li {
        display:inline;
        padding-left:10px;
        padding-right:10px;
}
.menu li:first-child .menuLink{
    pointer-events:none;
    color:black;
}

.menuLink{
    font-size: 13pt;
    color: deepskyblue;
    font-family: Arial,sans-serif;
}

.header .verticalLine{
    background-color:lightgrey;
    float:left;
    height:32px;
    width:1px;
    margin-right:10px;
    margin-top:10px;
}
.search {
    background-color: deepskyblue;
    clear: both;
    padding: 5px;
    min-width: 1000px;
    display: block;
    position:sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.searchBar {
    margin: 0 270px;
    box-sizing: border-box;
    max-width: 400px;
    padding: 0;
}

.searchBar input {
    border-radius: 5px;
    padding:5px;
    border: 1px solid gray;
    height: 30px;
    width: 100%;
}

.mainContent {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #EBEDEE;
    overflow: auto;
}
.newsPanel {
    float: left;
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px 10px;
}
.newsPanel > p{
        font-family: Arial,sans-serif;
        font-size:16px;
        text-align:center;
        padding-bottom:5px;
}

.newsPanel ul li {
    padding: 10px;
    border-top: 1px solid lightgray;
    font-family: Arial,sans-serif;
    font-size:11pt;
    max-width:300px;
}

.newsPanel ul:last-child {
    border-bottom: 1px solid lightgray;
}

.newsList{
    list-style-type:none;
}

.footer{
    margin: 0 auto;
}

.links {
    padding:20px;
    font-size:.8em;
    text-align: center;
}

.greenLink{
    color: forestgreen;
}

.weather{

}
.weatherContent{
    background-image: url("../img/map-660.jpg");
    background-repeat: no-repeat;
    padding: 30px 30px 55px 15px;
    background-size: cover;
}
.weatherBlock{
}
.weatherColumn{
    float:left;
    max-width: 700px;
    border-radius: 5px;
    background-color: transparent;
}
.weatherContainer > :first-child{
    border-radius: 5px 5px 0 0;
}
.weatherContainer > :last-child{
    border-radius: 5px;
}
.cities{
    margin-top: 10px;
    clear: both;
    float: left;
    width: 100%;
}
.weatherStations {
}
.weatherFooter{
    padding: 10px 17px 10px 17px;
    display: inline-block;
    width: 100%;
    border-radius: 5px;
}
.stationsLabel{
    position: relative;
    background-color: #FFF;
    font-size: 14px;
    z-index: 5;
    text-align: left;
    padding-right: 5px;
}
.stationsContainer{
    overflow: hidden;
}
.station{
    float: left;
    padding: 5px 5px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 33%;
}
.station *{
    float: left;
    margin-right: 5px;
}
.tempBlock{
    background-color: rgba(224, 212, 3,0.25);
    font-size: 12px;
    padding: 3px;
    border-radius: 4px;
}
.cityLink{
    font-size: 14px;
    vertical-align: middle;
    line-height: 25px;
}
.myPoints{
    padding-top: 5px;
}
.horizontalLine{
    position: relative;
    display: block;
    content: '';
    width: 100%;
    top: -8px;
    z-index: 1;
    border-bottom: 1px solid #efefef;
}
.clear{
    float: right;
    position: relative;
    z-index: 5;
    background-color: white;
    padding-left: 5px;
    font-size: 12px;
    color: gray;
}
.pointsLabel{
    background-color: #FFF;
}
.points{
    width: 100%;
    display: inline-block;
}
.weather > div{
}
.weatherLeftSide{
    float:left;
    border-right: 1px solid lightgray;
    padding-right:8px;
    padding-left: 12px;
}
.linkRightAlgn{
    float:right;
    font-size:12px;
}
.weatherLeft{
    font-size: 15px;
}
.currentWeatherBlock{
    margin-top:10px;
    background-color:#8EFF77;
    padding: 15px;
    font-weight: 500;
    font-size: 17pt;
    float:left;
}
.currentWeatherIcon{
    float: right;
    padding-top: 20px;
}
.weatherGraphInfo{
}
.weatherInfo{
    clear: both;
    padding-top: 2px;
}
.iconLabel{
    float: right;
    font-size: 10pt;
    color: gray;
    position: relative;
    transform: translateY(70%);
    margin: 0;
}
.infoBlock {
    margin: 13px 0;
    font-size: 10pt;
}

.infoLabel{
    color:gray;
    float: left;
}
.infoLabelResult{
    float: right;
}
.dots{
    border-bottom: 1px dotted grey;
    height: 1em;
}

.newsLink{
    color:black;
}
.newsLink:hover{
    color:black;
}
.popUpButton{

}
.popUpList ul{
    display:none;
}
.dropdown:hover .popUpList ul{
    display:block;
    list-style: none;
}
.popUpList ul li{
}
.weatherWithTimeRight{

}
.windSpeed{
    clear: both;
    padding: 20px 5px;
}
.windSpeedLabel{

}
.windSpeedLabel > span{
    position: relative;
    background-color: #FFF;
    font-size: 14px;
    z-index: 5;
    text-align: left;
    float: left;
}
.windSpeedLabel > .horizontalLine{
    top: 9px;
}
.w_wind__bg{
    height: 28px;
    width: 60px;
    transform: skew(-12deg);
    z-index: -1;
    padding-top: 5px;
    margin-right: 5px;
    font-size: 16px;
}
.windSpeedBlock{
    float: left;
    padding-top: 5px;
}
.windSpeedBlocks{
    padding: 5px;
    clear:both;
}
.topWeather{
    padding-left: 12px;
}
.weatherTimeWithIcons{
    float: left;
    font-size: 10pt;
    text-align: center;
}
.timeWithIcons{
    padding-bottom: 20px;
}
.colorBlockMedium{
    background:rgba(125, 221, 49, 0.25);
    padding:10px 0;
    border-bottom: 2px solid lawngreen;
}
.weatherTimeWithIcons .weatherBlock{
    margin-bottom: 10px;
    float:left;
}
.colorBlockMedium p{
    font-size: 15pt;
}

.adBlock{
    margin: 0 15px;
    float:left;
    border-radius: 5px;
}
.optionsBlock{
    clear: both;
    border-radius: 0 0 5px 5px;
    position: relative;
}
.optionsBlock .option{
    background-color: #009FFF;
    float:left;
    color: #EBEDEE;
    padding:10px;
}
.option:first-child{
    border-radius: 0 0 0 5px;
}
.option:last-child{
    border-radius: 0 0 5px 0;
}
.city{
    padding: 5px 10px 5px 0;
    font-size: 14px;
    float: left;
    width: 20%;
}
.watchedCitiesBlock{
    padding-bottom: 5px;
    display: inline-block;
    width: 100%;
}
.watchedCities{
    padding-top: 5px;
    display: inline-block;
    width: 100%;
}
.popularCities{
    width: 100%;
    display: inline-block;
}
.newsFooter{
    clear: both;
    float: left;
    margin-top: 15px;
    background-color: transparent;
    width: 100%;
    display: inline-block;
}
.newsContainer{
    width: 100%;
    display: inline-block;
    background-color: transparent;
}
.news{
    height: 100px;
    float: left;
    margin: 0 25px 0 0;
}